<div>
  <!-- Top Bar 1 Start -->
  <header id="header" class="header-one">
    <div class="bg-light bg-gradient">
      <div class="container">
        <div class="logo-area">
          <div class="row align-items-center">
            <div class="logo col-lg-3 text-center text-lg-left">
              <a class="d-block" routerLink="/">
                <img loading="lazy" src="assets/images/logo.png" style="width: 100px; height: 100px"
                  alt="FitZone Gym" />
              </a>
            </div>
            <div class="col-lg-9 header-right">
              <ul class="top-info-box">
                <li>
                  <div class="info-box">
                    <div class="info-box-content">
                      <p class="info-box-title">Our Location</p>
                      <p class="info-box-subtitle">123 Fitness Ave,<br>Workout City, 54321</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="info-box">
                    <div class="info-box-content">
                      <p class="info-box-title">Our Contact</p>
                      <p class="info-box-subtitle">(123) 456-7890</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="info-box">
                    <div class="info-box-content">
                      <p class="info-box-title">Our Mail</p>
                      <p class="info-box-subtitle">info&#64;fitzonegym.com</p>
                    </div>
                  </div>
                </li>
                <li class="header-get-a-quote">
                  <a class="btn btn-primary" routerLink="/login">Login Now</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Top Bar 1 End  -->


  <!-- Header Start  -->
  <div>
    <header id="header" class="header-one d-flex justify-content-center">
      <div class="site-navigation">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <nav class="navbar navbar-expand-lg navbar-dark p-0">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                  aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div id="navbar-collapse" class="collapse navbar-collapse">
                  <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item dropdown active">
                      <a href="#" class="nav-link">FitZone Gym</a>
                    </li>

                    <li class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">About <i
                          class="fa fa-angle-down"></i></a>
                      <ul class="dropdown-menu bg-info" role="menu">
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/trainers">Our Trainers</a></li>
                        <li><a href="/reviews">Member Reviews</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/membershipPlans">Membership Plans</a></li>
                      </ul>
                    </li>

                    <li class="nav-item">
                      <a href="/classes" class="nav-link">Classes</a>
                    </li>

                    <li class="nav-item">
                      <a href="/programs" class="nav-link">Programs</a>
                    </li>

                    <li class="nav-item">
                      <a href="/contact" class="nav-link">Contact</a>
                    </li>

                    <li class="nav-item">
                      <a href="/blog" class="nav-link">Blog</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
            <!--/ Col end -->
          </div>
          <!--/ Row end -->
        </div>
        <!--/ Container end -->
      </div>
      <!--/ Navigation end -->
    </header>
  </div>
  <!-- Header End  -->

</div>